/.gradle/
/.idea/
/build/
/gradle/
/Mastermind/build/
/gradle.properties
/gradlew
/gradlew.bat
/nice_string/build/
/mastermind/build/
/.gradle/
/.idea/
/build/
/gradle/
/gradle.properties
/gradlew
/gradlew.bat
